<div class="container">
    <div class="row">
        <div class="span6">
            <form action="/session/create" method="POST">
            	<h2>Please sign in</h2>

            	<% if(flash && flash.err) { %>
            		<ul class="alert alert-success">
            	<% Object.keys(flash.err).forEach(function(error) { %>
            		<li><%- JSON.stringify(flash.err[error]) %></li>
            	<% }) %>
            	</ul>
            	<% } %>

            	<input type="text" class="form-control" placeholder="Email address" name="email">
            	<input type="password" class="form-control" placeholder="Password" name="password">
            	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Sign-in"/>
            	<input type="hidden" name="_csrf" value="<%= _csrf %>" />

            </form>
        </div>
        <div class="span6">
            <div id="preview"></div>
        </div>
    </div>
</div>