<!DOCTYPE html>
<html>
	<head>
		<title><%- title %></title>

		<!-- Viewport mobile tag for sensible mobile support -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <% if (process.env === 'development') { %>
  		<script src="/linker/jquery.js"></script>
  		<script src="/linker/bootstrap.js"></script>
  		<script src="/linker/underscore.js"></script>
  		<script src="/linker/backbone.js"></script>
    <% } else { %>
  	  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
  		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <% } %>
    
		<!--STYLES-->
<link rel="stylesheet" href="/linker/styles/bootstrap-responsive.css">
<link rel="stylesheet" href="/linker/styles/bootstrap.css">
<link rel="stylesheet" href="/linker/styles/style.css">
<!--STYLES END-->
	</head>

	<body>
  
  <div class="navbar">
      <div class="navbar-inner">
          <div class="container">
              <a class="brand" href="#">SugarCRM</a>
              <ul class="nav">
                  <li class=""><a href="/">Home</a></li>
                  <li class=""><a href="/user">Users</a></li>
              </ul>
          </div>
      </div>
  </div>
  
		<%- body %>

		<!-- Templates from your view path are included here -->
		<!--TEMPLATES-->

<!--TEMPLATES END-->
		<!-- Javascripts from your assets folder are included here -->
		<!--SCRIPTS-->
<script src="/linker/js/marked.js"></script>
<!--SCRIPTS END-->
	</body>
</html>