textarea {
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;
    padding: 5px;
}
.github-cover {
  display:none;
  background:grey;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding:0;
  margin:0;
  background-size:100%;
  opacity:.95;
}
.github-progress {
  display:none;
  position:fixed;
  left:20%;
  right:20%;
  top:35%;
  z-index:9998!important;
}
.article-list li, .panel li {
  list-style-type: none;

  &:hover:not(.list-home) {
    color: blue;
    cursor: pointer;
  }
}
.article-buttons {
  display: none;
  margin-left: 20px;
}
.file:hover {
  .article-buttons {
    display: inline-block;
    margin:-30px auto;
  }
  form {
    display:inline-block;
  }
}
.list-home ~ .article-list {
  display: block;

  .article-list {
    display: none;
  }
}
.z-index-fix {
  z-index:-1;
}
.panel li a, .panel li:not(.not-a-link) input[type=submit] {
  background:none;
  border:none;
  outline:none;
  border-style:none;
  font:inherit;
  padding:0px;
  margin:0px;
  text-decoration:none;
  font-weight:bold;
  color:#005580;
}
.panel form {
  margin:0px;
  padding:0px;
}
.panel a:hover, .panel li:not(.not-a-link) input[type=submit]:hover {
  text-decoration:underline;
}
.panel li:not(.not-a-link) i {
  color:#005580;
}
.panel li:hover {
  color:black!important;
  cursor:default!important;
}
