textarea {
    width: 100%;
    min-height: 300px;
    margin-bottom: 20px;
    padding: 5px;
}
.github-cover {
  display:none;
  background:white;
  position:fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  padding:0;
  margin:0;
  background-size:100%;
  opacity:.95;
}
.github-progress {
  display:none;
  position:fixed;
  left:20%;
  right:20%;
  top:35%;
  z-index:9998!important;
}
.progress span {
}