<div class="container">
  <div class="row">
  
	  <h2>Add a new user</h2>
      
    <form action="/user/create" method="POST" role="form">

      <div class="form-group" 

      	<% if(flash && flash.err) { %>
      		<ul class="alert alert-success">
      	<% Object.keys(flash.err).forEach(function(error) { %>
      		<li><%- JSON.stringify(flash.err[error]) %></li>
      	<% }) %>
      	</ul>
      	<% } %>

      	<div class="form-group">
          <label for="name">Full name</label>
        	<input type="text" class="form-control" placeholder="Full name" name="name">
      	</div>

      	<div class="form-group">
          <label for="title">Title</label>
        	<input type="text" class="form-control" placeholder="Title" name="title">
      	</div>
	
      	<div class="form-group">
          <label for="email">E-mail address</label>
        	<input type="text" class="form-control" placeholder="E-mail address" name="email">
      	</div>

      	<div class="form-group">
          <label for="password">Password</label>
        	<input type="password" class="form-control" placeholder="Password" name="password" id="password">
      	</div>

      	<div class="form-group">
          <label for="Password confirmation">Password confirmation</label>
        	<input type="password" class="form-control" placeholder="Password confirmation" name="confirmation">
        	<br />
      	</div>

        <div class="form-group">
      	  <a href="/user">Cancel</a>
        	<button type="submit" class="btn btn-default">Add user</button>
        	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
        </div>
      </div>
    </form>

  </div>
</div>