<div class="container">
  <div class="row">
    <div class="span 6">
    
  	  <h2><%= founduser.name %></h2>
      
      <% if (founduser.admin) { %>
      <p> Admin </p>
      <% } %>
      
      <p><%= founduser.email %></p>
      <hr>
    	<a class="btn btn-medium btn-primary" href="/user">Cancel</a>
    	<a class="btn btn-medium btn-primary" id="edit-user" href="/user/edit/<%= founduser.id %>">Edit</a>
    </div>
  </div>
</div>