<div class="container">
  <div class="row">
    <div class="span6">
    
      <textarea id="editor"><%= article %></textarea>
      <a href="#" class="btn btn-small btn-default">Cancel</a>
      <a href="#" class="btn btn-small btn-primary">Update</a>
      
      <div id="preview"></div>
      
    </div>
  </div>
</div>