<%= include includes/_loading %>
<%= include includes/_progressBar %>
<%= include includes/_tree %>

<div class="container">
  <div class="row">
  <ul class="article-list">
  <% if (session.authenticated) { %>         
    <li><a href="/article/new" class="btn btn-mini btn-primary"><i class="icon-plus"></i> Add article</a></li>
  <% } %>
    <li class="list-home">
      <i class="icon-home"></i>
      <b>Sugar CRM Support</b>
    </li>
    <%- partial('templates/_list_outer.ejs', {article: articles}) %>
    </ul>
  </div>
</div>