  <div class="container">
      <div class="row">
      
        <ul>
        <% _.each(files, function(file) { %>
          <li><%= file %></li>
        <% }) %>
        </ul>
        
          <div class="span6">
              <textarea id="editor" oninput="this.editor.update()"></textarea>
              <a id="open_file" href="#open_dialog" data-toggle="modal" class="btn btn-small btn-default">Open</a>
              <a id="save_file" href="#save_dialog" data-toggle="modal" class="btn btn-small btn-primary">Save</a>
          </div>
          <div class="span6">
              <div id="preview"></div>
          </div>
      </div>
  </div>

<%- include modals/_open.ejs %>
<%- include modals/_save.ejs %>