<%= include includes/_markdownLayout %>
<%= include includes/_progressBar %>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>Content</h1>
      <article>
      <div class="editable" contenteditable="true">
        <p>Type your article text here</p>
       </div>
      </article>
    </div>
      
    <div class="col-md-6">
      <h1>Source output</h1>
      <textarea form="new-article-form" name="content" id="source"></textarea>
			<form action="/article/create" method="POST" id="new-article-form">
        <p class="text-info">
          Specify the full path and the article name, for example Pine_Needles/contents/articles/01/02/03/index.md. This is the path and filename that will be used. Ommitting the full path and/or filename can cause errors and should be avoided.
        </p>
			  <input type="text" name="path" class="input-xxlarge" placeholder="Path and file name (01_Get_Started/01_End_users/07_Hello/05_Plug-Ins/)"/>      
        <br>  
        <a href="/article">Cancel</a>
				<input type="submit" class="btn btn-sm btn-primary" value="Save"/>        
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
    </div>
  </div>
      
</div>