<%= include includes/_markdownLayout %>

<div class="container">
  <div class="row">
    <div class="span6">
      <h1>Content</h1>
      <article>
      <div class="editable" contenteditable="true">
        <p>Type your article text here</p>
       </div>
      </article>
    </div>
      
    <div class="span6">
      <h1>Source output</h1>
      <textarea form="new-article-form" name="content" id="source"></textarea>
			<form action="/article/update" method="POST" id="article-update-form">
        <p class="text-info">
          The file will be saved as "index.md" in the path that you specify. Directories that don't exist will be automatically created. Defaults to /contents/articles/ then whatever you type below.
        </p>
			  <input type="text" name="file" class="input-xxlarge" placeholder="Path and file name (01_Get_Started/01_End_users/07_Hello/05_Plug-Ins/)"/>      
        <br>  
        <a href="/article">Cancel</a>
				<input type="submit" class="btn btn-sm btn-primary" value="Save"/>        
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</form>
    </div>
  </div>
      
</div>