<div class="modal fade z-index-fix" id="moveArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Move</h4>
      </div>

      <div class="modal-body" aria-hidden="true">
      <a href="/article/copy?path={{= child.path }}" class="btn btn-mini btn-warning copy-article">Copy</a>
      <a href="/article/move?path={{= child.path }}" class="btn btn-mini btn-warning move-article">Move</a>
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>