development:
  logger_level: 'info'
  application_title: 'Pine'
  application_port: 1337
  submodule:
    path: 'pineneedles/contents/'
    branch: 'development'
    remote: 'origin'
    
  
test:
  logger_level: 'info'
  application_title: 'Pine'
  application_port: ''
  submodule:
    path: 'pineneedles/contents/'
    branch: 'development'
    remote: 'origin'
    
  
  
production:
  logger_level: 'info'
  application_title: 'Pine'
  application_port: 80
  submodule:
    path: 'pineneedles/contents/'
    branch: 'master'
    remote: 'origin'
    