
  <span class="article-buttons">
    <button class="btn btn-mini btn-primary">Show</button>
    <button class="btn btn-mini btn-warning">Edit</button>
    <button class="btn btn-mini btn-danger">Delete</button>
  </span>


