<span class="article-buttons">
  <a href="/article/show?path=<%= article.path %>" class="btn btn-mini btn-primary">Show</a>
  <% if (session.authenticated) { %>  
    <a href="/article/edit?path=<%= article.path %>" class="btn btn-mini btn-warning">Edit</a>
    <a href="/article/destroy?path=<%= article.path %>" class="btn btn-mini btn-danger">Destroy</a>
  <% } %>    
</span>