<% if(typeof article.headers == "object") { %>

  <h3>Attributes</h3>
  <% Object.keys(article.headers).forEach(function(header) { %>
    <dl class="dl-horizontal">
      <dt><h4><%= header.charAt(0).toUpperCase() + header.slice(1) %></h4></dt>
    
      <% if (typeof(edit) != "undefined" && edit) { %>
        <dd contenteditable=true><%= article.headers[header] %></dd>
      <% } else { %>
        <dd><%= article.headers[header] %></dd>
      <% } %>
      
    </dl>
  <% }) %>
  
<% } else { %>
<-- todo error state -->
<% } %>